<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0"><dict>

	<key>Label</key>
	<string>com.derhuerst.dyndns</string>

	<key>WorkingDirectory</key>
	<string>/Users/jannis/.dyndns</string>

	<key>UserName</key>
	<string>jannis</string>

	<key>Program</key>
	<string>/Users/jannis/.dyndns/server.sh</string>

	<key>OnDemand</key><false/>
	<key>RunAtLoad</key><true/>
	<key>KeepAlive</key><true/>
	<key>Crashed</key><true/>

	<key>StandardErrorPath</key>
	<string>/Users/jannis/.dyndns/stderr.log</string>

	<key>StandardOutPath</key>
	<string>/Users/jannis/.dyndns/stdout.log</string>

</dict></plist>
